@import "src/variables";

.form-wrapper {
  border: solid 1px $light-grey-border;
  border-radius: 10px;
  padding: 10px 10px 0 10px;
  margin-bottom: 20px;
}

.priority-group {
  gap: 15px;
  &__item {
    width: 150px;
  }
}

.date {
  width: 30%;
}

.invalid {
  border-color: $danger !important;
}

.error-msg {
  color: $danger;
  font-size: $font-size-small;
  padding: 5px 0 0 5px;
}

.main-buttons {
  gap: 15px;
}

.disabled {
  cursor: not-allowed !important;
  pointer-events: unset !important;
}
