@import "src/variables";

.form-wrapper {
  border: solid 1px $light-grey-border;
  border-radius: 10px;
  padding: 10px 10px 0 10px;
  margin-bottom: 20px;
}

.priority-group {
  display: flex;
  gap: 15px;
  &__item {
    width: 150px;
  }
}

.invalid {
  border-color: $danger !important;
}

.error-msg {
  color: $danger;
  font-size: $font-size-small;
  padding-left: 5px;
}

.main-buttons {
  width: 100%;
  display: flex;
  gap: 15px;
  justify-content: center;
}
